<!DOCTYPE html>
<html lang="en, fr">


  <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CloudAcademy</title>
        <script src="https://kit.fontawesome.com/3ee5796760.js" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="../static/style.css" type="text/css" /> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">

    </head>


  <body>

      <nav id="navbar">
        

            <div class="nav_extemity">

                <li><h1>CloudAcademy</h1></li>
            </div>

            <div class="container_nav">
                <!-- <button><i class="fas fa-search"></i></button> -->
                <li><a href="#home" class="nav_link">Home</a></li>
                <li><a href="#feature"class="nav_link">Feature</a></li>
                <div>
                    <input type="text" id="input_search" placeholder="Choose a theme"/>
                    <a href="#" id="search" class="nav_link"><i class="fas search fa-search"></i></a>
                </div> 

            </div>

            <div class="nav_extemity">
                <li><a href="#faq" class="nav_link button-bar">F-A-Q</a></li>
            </div>

        
    </nav>

      <main class="content">

        
        <section class="info">
            
            <div class="container sloggan" id="home">
                <h1>Want to learn how to be an amazing cloud developer ? 
                    Here is the place to be !</h1>
            </div>  

            <div id="icon">
                <i data-theme="python" class="main_icon fab fa-python"></i>
                <i data-theme="javascript" class="main_icon fab fa-js-square"></i>
                <i data-theme="docker" class="main_icon fab fa-docker"></i>
                <i data-theme="cloud" class="main_icon fas fa-cloud"></i>
                <i data-theme="mysql" class="main_icon fas fa-table"></i>
                <i data-theme="all" class="main_icon fab fa-amilia"></i>
                
            </div>

            <div class="add_content">
              <p css="text_add title_video"> Want to contribute to the project ? </p>
              <a href="#add_data"><button class="btn_add_video" id="btn_add_video">Click Here</button></a>
            </div>
        </section>

        <div class="main_container" id="feature">

          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
          <div class="video_link"></div>
        </div>

        <div class="form_data" id='add_data'>
        <form class="form" action="/" method="POST">
          <div class="">
              <label for="video_data_link">Place here the link of your video :</label>
              <input id="input_link" type="text" name="video_data_link"  placeholder="Link">
          </div>

          <div>
              <label for="category">Select your category:</label>
              <select class="category" name="category">
                  <option value="javascript">JavaScript</option>
                  <option value="python">Python</option>
                  <option value="docker">Docker</option>
                  <option value="cloud">Cloud</option>
                  <option value="mysql">mySql</option>
              </select>
              <button type="submit" class="btn_add_video">Add</button>
          </div>
          </form>
        </div>
      </main>


    <footer> <div class="footer"></div> </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

  </body>
</html>